.row{
    padding-left: 30%;
    width: 75%;
}
.buttons{
    padding-left: 35%;
}
#tableData{
    width: 60%;
    margin-left: 20%;
    /* display: none; */
}
.button{
    padding-left: 45%;
    
}
#button{
    display: none;
}
.bi{
    cursor: pointer;
}
h2{
    display: none;
}
.sl_no{
    width: 6%;
}
.name{
    width: 10%;
}
.reg_no{
    width: 6%;
}
.grade{
    width: 10%;
}
.actions{
    width: 10%;
}
/* th{
    width: 7%;
} */

