*{
    margin: 0px;
    padding: 0px;
}
h1{
    margin: 25px;
}
.container{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    place-items: center;
    gap:30px;
    margin-bottom: 40px;
}
.box{
    width:350px;
    height: 330px; 
    border: 1px solid rgb(192, 187, 187);
    border-radius: 5px;
    box-shadow: rgba(65, 64, 64, 0.2) 0px 2px 8px 0px;}

p{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 7;
}
img{
    height: 55%;
    width: 100%;
}
.view{
    grid-column-start: 1;
    grid-column-end: 2;
}
.edit{
    grid-column-start: 2;
    grid-column-end: 3;
}
.time{
    grid-column-start: 7;
    color: gray;
    /* grid-column-end: 7; */
}
.content{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 70% 30%;
    row-gap: 25px;
    padding:10px ;
}